@page
@model labs.Pages.ToastmastersTimer.IndexModel
@{
}

<script type="text/javascript">


</script>

<div id="backgroundToastmastersTimer" style="background-color:gray">
    
    <h1>Toastmasters Timer</h1>   

    <p>Please select Toastmasters Event:</p>
    <input type="radio" id="tabletopics" name="toastmasters_event" value="Table Topics">
    <label for="tabletopics">Table Topics</label><br>
    <input type="radio" id="evaluation" name="toastmasters_event" value="Evaluation">
    <label for="evaluation">Evaluation</label><br>
    <input type="radio" id="speech" name="toastmasters_event" value="Speech">
    <label for="speech">Speech</label>

    <br />

    <input type="button" id="start" value="Start">
    <input type="button" id="start" value="Stop">
    <input type="button" id="start" value="Resume">
    <input type="button" id="start" value="Reset">

</div>

