@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Ranjith Venkatesh Labs</h1>    
    <a asp-page="/ToastmastersTimer/Index">Toastmasters Timer</a>
</div>
